/* Document
 * ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
 * ========================================================================== */

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
 * ========================================================================== */

/**
 * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
 */

dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}

/**
 * Remove the margin on nested lists in Edge 18- and IE.
 */

ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Correct the inheritance of border color in Firefox.
 * 3. Show the overflow in Edge 18- and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  color: inherit; /* 2 */
  height: 0; /* 1 */
  overflow: visible; /* 3 */
}

/**
 * Add the correct display in IE.
 */

main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
 * ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Add the correct text decoration in Edge 18-, IE, and Safari.
 */

abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/* Embedded content
 * ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images within links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Tabular data
 * ========================================================================== */

/**
 * 1. Correct table border color inheritance in all Chrome, Edge, and Safari.
 * 2. Remove text indentation from table contents in Chrome, Edge, and Safari.
 */

table {
  border-color: inherit; /* 1 */
  text-indent: 0; /* 2 */
}

/* Forms
 * ========================================================================== */

/**
 * Remove the margin on controls in Safari.
 */

button,
input,
select {
  margin: 0;
}

/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
 */

button {
  overflow: visible; /* 1 */
  text-transform: none; /* 2 */
}

/**
 * Correct the inability to style buttons in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * Show the overflow in Edge 18- and IE.
 */

input {
  overflow: visible;
}

/**
 * 1. Correct the text wrapping in Edge 18- and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in Edge 18- and IE.
 * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the inheritance of text transform in Firefox.
 */

select {
  text-transform: none;
}

/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 */

textarea {
  margin: 0; /* 1 */
  overflow: auto; /* 2 */
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove the additional :invalid styles in Firefox.
 */

:-moz-ui-invalid {
  box-shadow: none;
}

/* Interactive
 * ========================================================================== */

/*
 * Add the correct display in Edge 18- and IE.
 */

details {
  display: block;
}

/*
 * Add the correct styles in Edge 18-, IE, and Safari.
 */

dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
 * ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* User interaction
 * ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}

html {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  /* font-size: calc(8px + 3vw / 2); */
  font-weight: 300;
}
p {
  font-weight: lighter;
}
h1,
h2,
h3 {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}
h1 {
  font-size: calc(12px + 3vw / 2);
}
h2 {
  font-size: calc(10px + 3vw / 2);
}
h3 {
  font-size: calc(8px + 3vw / 2);
}

input {
  -webkit-appearance: none;
  appearance: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

input,
textarea,
select,
button {
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
button,
label,
input,
select,
progress,
meter {
  display: block;
  font-family: inherit;
  font-size: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  height: 30px;
}

label {
  margin-bottom: 5px;
}

button {
  width: 60%;
  margin: 0 auto;
}

:root{--redux-color: #764abc}html{font-size:16px}@media screen and (min-width: 320px){html{font-size:calc(
          16px + 8 *
            ((100vw - 320px) / 880)
        )}}@media screen and (min-width: 1200px){html{font-size:24px}}h1{font-size:2.0736rem}h1{font-size:27.648px}@media screen and (min-width: 320px){h1{font-size:calc(
          27.648px + 26.352 *
            ((100vw - 320px) / 880)
        )}}@media screen and (min-width: 1200px){h1{font-size:54px}}h2{font-size:1.728rem}h2{font-size:27.648px}@media screen and (min-width: 320px){h2{font-size:calc(
          27.648px + 26.352 *
            ((100vw - 320px) / 880)
        )}}@media screen and (min-width: 1200px){h2{font-size:54px}}h3{font-size:1.44rem}h3{font-size:23.04px}@media screen and (min-width: 320px){h3{font-size:calc(
          23.04px + 12.96 *
            ((100vw - 320px) / 880)
        )}}@media screen and (min-width: 1200px){h3{font-size:36px}}form input:focus,textarea:focus{background:rgba(0,0,0,.1);border-radius:5px}.zdx55YbDoIHoPtSUiaSy1w\=\={height:50px;background:#fff;box-shadow:0px -2px 10px rgba(0,0,0,.3);display:flex;justify-content:space-around;align-items:center}.zdx55YbDoIHoPtSUiaSy1w\=\=:first-child{margin-left:0px}.zdx55YbDoIHoPtSUiaSy1w\=\= img{width:40px;height:40px}.zdx55YbDoIHoPtSUiaSy1w\=\= a{margin-left:5px}.zdx55YbDoIHoPtSUiaSy1w\=\= a .TbcRQCP6--f3k17c---kxw\=\={margin-left:1px;position:relative;top:-2px}.zdx55YbDoIHoPtSUiaSy1w\=\= .Ja29Fw9snWMTwx\+AlM1npw\=\={display:inline}.zdx55YbDoIHoPtSUiaSy1w\=\= .Ja29Fw9snWMTwx\+AlM1npw\=\= button{box-shadow:none;border:1px solid #9cdbec;width:auto;height:20px;color:rgba(0,0,0,.75);background:rgba(156,219,236,.4);font-size:x-small}.zdx55YbDoIHoPtSUiaSy1w\=\= .Ja29Fw9snWMTwx\+AlM1npw\=\= button:hover,.zdx55YbDoIHoPtSUiaSy1w\=\= .Ja29Fw9snWMTwx\+AlM1npw\=\= button:focus{outline:none;box-shadow:0px 0px 5px rgba(0,0,0,.2);background:#9cdbec;color:#fff}.TbcRQCP6--f3k17c---kxw\=\={display:inline-block;padding:.25em .4em;font-size:65%;font-weight:700;line-height:1;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:.25rem;color:#212529;background-color:#f8f9fa}.\+UHYnWpRbkUa6-1X6kMSLw\=\={background-image:linear-gradient(rgba(34, 73, 117, 0.5), rgba(34, 73, 117, 0.5)),url(/eb78d622f7c044cac5a7.jpg);background-size:cover;background-position:center;padding:calc(40px + 1.5vw) 0px;color:#fff}.Ja29Fw9snWMTwx\+AlM1npw\=\={display:block;text-align:center}.Ja29Fw9snWMTwx\+AlM1npw\=\= a,.Ja29Fw9snWMTwx\+AlM1npw\=\= button{display:inline;color:rgba(0,0,0,.75);margin:auto;background:#fff;box-shadow:0px 0px 5px rgba(0,0,0,.2);border:1px solid #333;border-radius:5px;padding:5px;cursor:pointer;text-align:center;text-decoration:none;font-size:22px;width:60px;height:35px}.Ja29Fw9snWMTwx\+AlM1npw\=\= a:after,.Ja29Fw9snWMTwx\+AlM1npw\=\= button:after{content:""}.Ja29Fw9snWMTwx\+AlM1npw\=\= a:hover,.Ja29Fw9snWMTwx\+AlM1npw\=\= a:focus,.Ja29Fw9snWMTwx\+AlM1npw\=\= button:hover,.Ja29Fw9snWMTwx\+AlM1npw\=\= button:focus{outline:none;background:#37b686;color:#fff}@media(max-width: 992px){.Ja29Fw9snWMTwx\+AlM1npw\=\= a,.Ja29Fw9snWMTwx\+AlM1npw\=\= button{font-size:20px;height:33px}}@media(max-width: 768px){.Ja29Fw9snWMTwx\+AlM1npw\=\= a,.Ja29Fw9snWMTwx\+AlM1npw\=\= button{font-size:18px;height:31px}}@media(max-width: 480px){.Ja29Fw9snWMTwx\+AlM1npw\=\= a,.Ja29Fw9snWMTwx\+AlM1npw\=\= button{font-size:16px;height:29px}}.GFq0KmxvenMYqXhitFUQoA\=\={width:calc(880px + 1.5vw);margin:0 auto}.PwnFgIP-UPYBcBlUvxNZpQ\=\={display:flex;flex-wrap:wrap;justify-content:space-between}.PwnFgIP-UPYBcBlUvxNZpQ\=\= .MzJG4C20X3HpldLRY1i-pw\=\={flex:0 0 40%}.PwnFgIP-UPYBcBlUvxNZpQ\=\= h3{color:#37b686;margin-bottom:15px}.PwnFgIP-UPYBcBlUvxNZpQ\=\= p{color:rgba(0,0,0,.5)}.PQiXKze7bUN0ew4dhWVNVQ\=\={display:flex;flex-wrap:wrap;align-items:center}.PQiXKze7bUN0ew4dhWVNVQ\=\= p{font-weight:lighter;margin-right:10px}.PQiXKze7bUN0ew4dhWVNVQ\=\= h2{font-weight:lighter;margin-right:10px}.Y2EPHHj3GDLIxR-Dc7mh8g\=\={display:block}.Y2EPHHj3GDLIxR-Dc7mh8g\=\= h2{margin-right:10px;font-weight:lighter}.Y2EPHHj3GDLIxR-Dc7mh8g\=\= h3{color:#37b686;margin-right:10px;font-weight:lighter}.Y2EPHHj3GDLIxR-Dc7mh8g\=\= p{font-weight:lighter}.N3On7G7Taphre-IGN7eFUw\=\={flex-grow:1;text-align:left}.N3On7G7Taphre-IGN7eFUw\=\= h2{margin-right:10px;margin-bottom:0px;text-align:left;font-weight:lighter}.N3On7G7Taphre-IGN7eFUw\=\= h2:first-child{display:inline}.N3On7G7Taphre-IGN7eFUw\=\= .qBweGDktF-Nmtc2eVh4\+jQ\=\={display:inline}.N3On7G7Taphre-IGN7eFUw\=\= .kmjodJv1QcweFrNyYc1Fww\=\={display:inline}.N3On7G7Taphre-IGN7eFUw\=\= h3{color:#37b686;margin-right:10px;font-weight:lighter}.N3On7G7Taphre-IGN7eFUw\=\= p{font-weight:lighter}.UHgPNXIPokg81g2BYQZ\+CA\=\={text-align:left}.OKiu5KMTSFauQEXYHCdLRg\=\={display:flex;justify-content:space-between}.OKiu5KMTSFauQEXYHCdLRg\=\= form{flex:0 0 190px}.OKiu5KMTSFauQEXYHCdLRg\=\= label,.OKiu5KMTSFauQEXYHCdLRg\=\= input,.OKiu5KMTSFauQEXYHCdLRg\=\= select,.OKiu5KMTSFauQEXYHCdLRg\=\= textarea{width:100%;color:rgba(0,0,0,.5);margin:10px 0px 10px;height:calc(25px + 1.5vw)}.OKiu5KMTSFauQEXYHCdLRg\=\= textarea{padding:10px;border-right:1px solid;overflow:auto;height:calc(100px + 1.5vw)}.OKiu5KMTSFauQEXYHCdLRg\=\= label+textarea{margin-top:0px}.OKiu5KMTSFauQEXYHCdLRg\=\= .OKWfK4zYFAfExszP88hMvA\=\={flex-grow:1}.OKWfK4zYFAfExszP88hMvA\=\={display:block}.zzMB493hPUuMHaqTCIlsgw\=\={display:block;flex-grow:1;margin:10px}.zzMB493hPUuMHaqTCIlsgw\=\= ul{list-style:none;font-weight:lighter}.LMcqE5Gx5LiPZd0MDkwFVQ\=\={display:block;flex-grow:1;text-align:left}.LMcqE5Gx5LiPZd0MDkwFVQ\=\= h2{margin-right:10px;margin-bottom:0px;text-align:left;font-weight:lighter}.LMcqE5Gx5LiPZd0MDkwFVQ\=\= h2:first-child{display:inline}.LMcqE5Gx5LiPZd0MDkwFVQ\=\= p{font-weight:lighter}.LMcqE5Gx5LiPZd0MDkwFVQ\=\= ul{list-style:none;font-weight:lighter}._1KUxpJqBJHzjLGIbTfHqIw\=\={display:block;flex-grow:1;margin:10px}._1KUxpJqBJHzjLGIbTfHqIw\=\= h2{margin-right:10px;margin-bottom:0px;text-align:left;font-weight:lighter}.uJwxBMMDBDp8DJaEZHgZ6Q\=\={text-align:left;padding:20px;border:1px solid #9cdbec}.uJwxBMMDBDp8DJaEZHgZ6Q\=\= div{font-weight:lighter}.uJwxBMMDBDp8DJaEZHgZ6Q\=\=.HOsams8r2SCfwVqdCHykyA\=\={background:rgba(156,219,236,.4)}.iuWR-JnCG2gjpg5Wm6VTQg\=\= p{font-weight:lighter}.iuWR-JnCG2gjpg5Wm6VTQg\=\= h2{font-weight:lighter}.RmMo\+Ki0-HWAMyJDNPK\+ag\=\={display:grid;grid-template-columns:repeat(3, 1fr);grid-template-rows:50% 50%;justify-content:space-around;background-color:#fdfdfd;margin-bottom:10px}.RmMo\+Ki0-HWAMyJDNPK\+ag\=\= .MzJG4C20X3HpldLRY1i-pw\=\=.m5juoJ5OgnUY6YvsuxsT9Q\=\={grid-row:1/span 2;grid-column:1/span 1}.RmMo\+Ki0-HWAMyJDNPK\+ag\=\= .MzJG4C20X3HpldLRY1i-pw\=\=._0uo37gQqOysrwNx5mpbWcQ\=\={grid-row:1/span 1;grid-column:2/span 2}.RmMo\+Ki0-HWAMyJDNPK\+ag\=\= h3{color:#37b686;margin-bottom:15px}.RmMo\+Ki0-HWAMyJDNPK\+ag\=\= p{color:rgba(0,0,0,.5)}.LKv4vVxOyrSo6Luwj5n0Jg\=\={padding:calc(10px + 1.5vw) 0px;color:#fff;background-color:#509fb7}.LKv4vVxOyrSo6Luwj5n0Jg\=\= p{color:#fff}.MzJG4C20X3HpldLRY1i-pw\=\={background:#fff;box-shadow:0 0 5px rgba(0,0,0,.2);padding:20px;margin:10px;text-align:center;display:flex;justify-content:space-around;height:-webkit-fit-content;height:-moz-fit-content;height:fit-content}.MzJG4C20X3HpldLRY1i-pw\=\= h3:first-child{margin:0px}.MzJG4C20X3HpldLRY1i-pw\=\= .qBweGDktF-Nmtc2eVh4\+jQ\=\={font-style:italic;font-size:smaller}.MzJG4C20X3HpldLRY1i-pw\=\= .kmjodJv1QcweFrNyYc1Fww\=\={font-style:italic;font-size:smaller}.MzJG4C20X3HpldLRY1i-pw\=\= ._04CvqHXetOR9WmW2QZc0Dw\=\={display:flex;justify-content:center}.MzJG4C20X3HpldLRY1i-pw\=\= .EU4T4U3X1PxPkqRt4jl7Kw\=\={flex:0 1 35px;color:rgba(0,0,0,.75);margin:15px 1px 10px 1px;padding:4px 4px 4px 4px;background:#fff;border:0px;cursor:pointer;text-align:center;height:auto;font-size:smaller}.MzJG4C20X3HpldLRY1i-pw\=\= .EU4T4U3X1PxPkqRt4jl7Kw\=\=:hover{outline:1px solid #000}.MzJG4C20X3HpldLRY1i-pw\=\= .EU4T4U3X1PxPkqRt4jl7Kw\=\=:focus{outline:1px solid #37b686}.WMrs1j71TLPMrlRgCy64KQ\=\={font-size:10px;margin:50px auto;text-indent:-9999em;width:5em;height:5em;border-radius:50%;background:var(--redux-color);background:linear-gradient(to right, var(--redux-color) 10%, rgba(128, 0, 255, 0) 42%);position:relative;-webkit-animation:jbkdlTT1noUEWCjVEfLEqQ\=\= 1.4s infinite linear;animation:jbkdlTT1noUEWCjVEfLEqQ\=\= 1.4s infinite linear;-webkit-transform:translateZ(0);transform:translateZ(0)}.WMrs1j71TLPMrlRgCy64KQ\=\=:before{width:50%;height:50%;background:var(--redux-color);border-radius:100% 0 0 0;position:absolute;top:0;left:0;content:""}.WMrs1j71TLPMrlRgCy64KQ\=\=:after{background:#fff;width:75%;height:75%;border-radius:50%;content:"";margin:auto;position:absolute;top:0;left:0;bottom:0;right:0}@-webkit-keyframes jbkdlTT1noUEWCjVEfLEqQ\=\={0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes jbkdlTT1noUEWCjVEfLEqQ\=\={0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@media(max-width: 992px){.GFq0KmxvenMYqXhitFUQoA\=\={width:calc(700px + 1.5vw)}}@media(max-width: 768px){.GFq0KmxvenMYqXhitFUQoA\=\={width:calc(460px + 1.5vw)}}@media(max-width: 480px){.GFq0KmxvenMYqXhitFUQoA\=\={width:calc(300px + 1.5vw)}}@media(max-width: 768px){.OKiu5KMTSFauQEXYHCdLRg\=\={display:block}.OKWfK4zYFAfExszP88hMvA\=\={display:block}.OKWfK4zYFAfExszP88hMvA\=\= .MzJG4C20X3HpldLRY1i-pw\=\={flex:unset}}@media(max-width: 768px){.PwnFgIP-UPYBcBlUvxNZpQ\=\={display:block}.PwnFgIP-UPYBcBlUvxNZpQ\=\= .MzJG4C20X3HpldLRY1i-pw\=\={flex:unset}}@media(max-width: 480px){.PwnFgIP-UPYBcBlUvxNZpQ\=\= .MzJG4C20X3HpldLRY1i-pw\=\={flex:unset}}@media(max-width: 480px){.RmMo\+Ki0-HWAMyJDNPK\+ag\=\={grid-template-columns:unset;grid-template-rows:unset}.RmMo\+Ki0-HWAMyJDNPK\+ag\=\= .MzJG4C20X3HpldLRY1i-pw\=\=.m5juoJ5OgnUY6YvsuxsT9Q\=\={grid-row:unset;grid-column:unset}.RmMo\+Ki0-HWAMyJDNPK\+ag\=\= .MzJG4C20X3HpldLRY1i-pw\=\=._0uo37gQqOysrwNx5mpbWcQ\=\={grid-row:unset;grid-column:unset}}
