<!DOCTYPE html>
<html xmlns:layout="http://www.rwalpha.net.nz/thymeleaf/layout" 
      xmlns:th="http://www.thymeleaf.org"
      data-th-with="lang=${#locale.language}" data-th-lang="${lang}" data-th-fragment="layout (title, content, sidemenu, script)">
<head>
    <!--
       RAlpha website
       Author: Rodney Woollett
       Date:   14/11/2019

       Filename:         home.html
       Supporting files: Scripts folder and css folder
    -->
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title >Rodey Woollett Personal</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href="./css/normalize.css" type="text/css" media="all"  rel="stylesheet" />
    <link href="./css/site_layout.css" type="text/css" media="all"  rel="stylesheet" />
    <link href="./css/site_style.css"  type="text/css" media="all"  rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script ></script>	
</head>
<body>
	<div id="top-nav" th:replace="~{header :: navigation}"></div>
    <div id="page-container" >
		<div id="side-menu"  data-th-replace="${sidemenu}">
		    <!-- side menu -->
		</div>
		<div role="main" id="main-container" data-th-replace="${content}">
			<!-- content block -->
		</div>
	</div>
    <div id="footer" th:replace="~{footer :: copy}">
	    <!-- footer -->
	</div>
	<div class="cover">
		<div class="transbox"></div>
	</div>
	<div id="script" data-th-replace="${script}">
	</div>
   <!-- <script src="scripts/jquery-3.3.1.js"></script>
    <script src="scripts/site_script.js"></script> -->
</body>
</html>
