/* Labs Home layout */

.banner {
  background-image: linear-gradient(
      rgba(34, 73, 117, 0.5),
      rgba(34, 73, 117, 0.5)
    ),
    url(../../images/berlin.jpg);
  background-size: cover;
  background-position: center;
  padding: calc(40px + 3vw / 2) 0px;
  color: white;
}

.container {
  width: calc(880px + 3vw / 2);
  margin: 0 auto;
}

.home-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.home-nav .card {
  flex: 0 0 40%;
}
.home-nav h3 {
  color: rgba(55, 182, 134, 1);
  margin-bottom: 15px;
}
.home-nav p {
  color: rgba(0, 0, 0, 0.5);
  font-size: calc(6px + 3vw / 2);
}

.popular p {
  font-size: calc(5px + 3vw / 2);
  font-weight: lighter;
}
.popular h2 {
  font-size: calc(8px + 3vw / 2);
  font-weight: lighter;
}

.popular-labs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50% 50%;
  justify-content: space-around;
  background-color: rgba(253, 253, 253, 1);
  margin-bottom: 10px;
}
.popular-labs .card.top {
  grid-row: 1 / span 2;
  grid-column: 1 / span 1;
}

.popular-labs .card.next {
  grid-row: 1 / span 1;
  grid-column: 2 / span 2;
}

.popular-labs h3 {
  color: rgba(55, 182, 134, 1);
  margin-bottom: 15px;
  font-size: calc(6px + 3vw / 2);
}
.popular-labs p {
  color: rgba(0, 0, 0, 0.5);
  font-size: calc(4px + 3vw / 2);
}

.footer {
  padding: calc(10px + 3vw / 2) 0px;
  color: white;
  background-color: rgba(80, 159, 183, 1);
}

.footer p {
  color: rgba(255, 255, 255, 1);
  font-size: calc(2px + 3vw / 2);
}

.card {
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 992px) {
  .container {
    width: calc(700px + 3vw / 2);
  }
}

@media (max-width: 768px) {
  .container {
    width: calc(460px + 3vw / 2);
  }
}

@media (max-width: 480px) {
  .container {
    width: calc(300px + 3vw / 2);
  }
}

@media (max-width: 768px) {
  .home-nav {
    display: block;
  }
  .home-nav .card {
    flex: unset;
  }
}

@media (max-width: 480px) {
  .home-nav .card {
    flex: unset;
  }
}

@media (max-width: 480px) {
  .popular-labs {
    grid-template-columns: unset;
    grid-template-rows: unset;
  }
  .popular-labs .card.top {
    grid-row: unset;
    grid-column: unset;
  }
  .popular-labs .card.next {
    grid-row: unset;
    grid-column: unset;
  }
}
